* {
  font-family: Helvetica;

}


section .titulo1y3 {
color: blue ;
background-color: red;
}

section p{
   font-size: 16px;

}
/*subtitulo de la seccion 2*/
section .titulo2y4{
    color: green;
}

section .italica{
     font-family: italic;

}